* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, 
    rgb(200, 78, 167)0%, 
    rgb(235, 149, 232)50%);
}